<style>
#nanoboot_banner {


    font-size:2em;
    font-weight: 500;
    padding-top: 6px !important;
    padding-bottom: 9px !important;
    text-align:left;
    padding-left:60px;

    background: #7cd3ff;
    background: linear-gradient(180deg, rgba(124, 211, 255,0.4) 10%, white 60%);
}

#nanoboot_banner a {

    text-decoration:none;
    text-transform: uppercase;
    color:#4169E1 !important;
    font-weight: 600;
}


#nanoboot_banner a:link {
    color:blue !important;
    text-decoration: none;
}
#nanoboot_banner a:visited {
    color:blue;
    text-decoration: none;
}
#nanoboot_banner a:hover {
    color:blue;
    text-decoration: none;
}
#nanoboot_banner a:active {
    color:blue;
    text-decoration: none;
}


#menu {
    background: #3D3F4A;
    border-left: 0px solid #4169E1;
    border-right: 0px solid #4169E1;
    margin-top:0px;
    margin-bottom:0px;
    padding:0;
    padding-left: 0px;
    margin-left: 0;
}

#menu li {
    display:inline-block;
    border-left: 0px solid #4169E1;
    border-right: 0px solid #4169E1;

    /*
    border-top:4px solid #4169E1;
    border-bottom:4px solid #4169E1;
    */
    font-size:115%;

    margin-left:0 !important;
    margin-right:0 !important;

}

#menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color:white;
    text-decoration:none;
    font-weight: 550;
    line-height: 45px;
    margin-left:0 !important;
    margin-right:0 !important;
}

.menu_li_current_item {
}

.menu_li_current_item a {
    color: #ffff99 !important;
    /*background: #27282C;*/
}


#menu li:hover {
    background: #27282C;
    color:yellow !important;
}
#menu li a:hover {
    color: white;
}

#menu, #nanoboot_banner  {
    font-family: Arial;
}


</style>

        <!-- NANOBOOT HEADER AND MENU - START -->
        <div id="nanoboot_banner"><a href="https://www.nanoboot.org/index.html" target="_parent">Nanoboot</a> Project | <a href="https://docs.nanoboot.org" style="text-transform:none;"><span style="color:blue;">Documentation</span></div>

        <ul id="menu">
            <li><a href="https://www.nanoboot.org/index.html" target="_parent" style="">Home</a></li>
            <li><a href="https://www.nanoboot.org/about.html" target="_parent">About</a></li>

            <li><a href="https://www.nanoboot.org/downloads.html" target="_parent">Downloads</a></li>
            <li><a href="https://www.nanoboot.org/documentation.html" target="_parent">Documentation</a></li>
            <li><a href="https://www.nanoboot.org/contribute.html" target="_parent">Contribute</a></li>
            <li class="menu_li_current_item"><a href="https://www.nanoboot.org/links.html" target="_parent">Links</a></li>
        </ul>
        <!-- NANOBOOT HEADER AND MENU - END -->
        

